In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


df=pd.read_csv("titanic.csv")
df.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace= True)

In [103]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,0.0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,1.0
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,2.0

In [104]:
X=df[["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]]
X["Age"].fillna(X["Age"].median(skipna=True), inplace=True)
X["Embarked"].fillna(X['Embarked'].value_counts().idxmax(), inplace=True)
Y=df["Survived"]

C:\Users\SWETHA\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [105]:
# standardizing data - 
scaler = StandardScaler()

In [106]:
scaler.fit(X)

StandardScaler()

In [107]:
standardized_data  = scaler.transform(X)

In [108]:
print(standardized_data)

[[ 0.82737724 -0.73769513 -0.56573646 ... -0.47367361 -0.50244517
  -0.56883712]
 [-1.56610693  1.35557354  0.66386103 ... -0.47367361  0.78684529
   1.00518113]
 [ 0.82737724  1.35557354 -0.25833709 ... -0.47367361 -0.48885426
  -0.56883712]
 ...
 [ 0.82737724  1.35557354 -0.1046374  ...  2.00893337 -0.17626324
  -0.56883712]
 [-1.56610693 -0.73769513 -0.25833709 ... -0.47367361 -0.04438104
   1.00518113]
 [ 0.82737724 -0.73769513  0.20276197 ... -0.47367361 -0.49237783
   2.57919938]]

In [109]:
X = standardized_data

In [110]:

class SVM_classifier():
    
    #initiating the hyperparameters
    
    def __init__(self,lr,epochs,lambda_parameter):
        
        self.lr = lr
        self.epochs = epochs
        self.lambda_parameter = lambda_parameter
        
    # fitting the dataset to SVM Classifier 
    
    def fit(self,X,Y):
        
        self.m,self.n = X.shape
        self.w  = np.zeros(self.n)
        self.b = 0
        self.X = X
        self.Y = Y
        
        for i in range(self.epochs):
            self.update_weights()
            
    def update_weights(self):
        
        y_label = np.where(self.Y <=0,-1,1)
        
        for index,x_i in enumerate(self.X):
            condition = y_label[index] * (np.dot(x_i,self.w) - self.b) >=1
            
            if (condition == True):
                
                dw  = 2*self.lambda_parameter * self.w
                db = 0
                
            else:
                
                dw = 2* self.lambda_parameter*self.w - np.dot(x_i,y_label[index])
                db = y_label[index]
                
            self.w = self.w - self.lr*dw
            self.b = self.b - self.lr*db
            
    def predict(self,X):
        
        output  = np.dot(X, self.w) - self.b
        predicted_labels = np.sign(output)
        y_hat = np.where(predicted_labels <= -1,0,1)
        return y_hat

In [111]:
# splitting the data

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 2)

In [148]:
classifier = SVM_classifier(lr = 0.03,epochs = 100,lambda_parameter = 0.001)

In [149]:
classifier.fit(X_train,Y_train)

In [150]:
X_train_prediction = classifier.predict(X_train)
Training_data_accuracy  = accuracy_score(Y_train,X_train_prediction)
print('Accuracy score on training data = ',Training_data_accuracy)

Accuracy score on training data =  0.8075842696629213

In [151]:
X_test_prediction = classifier.predict(X_test)
Testing_data_accuracy  = accuracy_score(Y_test,X_test_prediction)
print('Accuracy score on testing data = ',Testing_data_accuracy)

Accuracy score on testing data =  0.7486033519553073